grant Principal chp02.UserPrincipal "user"
{
 // not granted anything
}; 

grant Principal chp02.SysAdminPrincipal "sysadmin"
{
  permission java.io.FilePermission "@PRJ-DIR@/build/conf/chp02.policy", "read";
}; 


grant codeBase "file://@PRJ-DIR@/build/java" 
{
  permission javax.security.auth.AuthPermission "modifyPrincipals";
  permission javax.security.auth.AuthPermission "modifyPublicCredentials";
  permission javax.security.auth.AuthPermission "modifyPrivateCredentials";
  permission javax.security.auth.AuthPermission "createLoginContext.*";
  permission javax.security.auth.AuthPermission "doAs";
  permission javax.security.auth.AuthPermission "doAsPrivileged";
  permission java.security.SecurityPermission "setPolicy";
  permission java.security.SecurityPermission "getPolicy";
  permission java.lang.RuntimePermission "accessClassInPackage.sun.security.provider";
  permission java.lang.RuntimePermission "getProtectionDomain";
};
